* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  font-family: "Noto Sans JP", sans-serif;
}
.container {
  /* border: 1px solid black; */
  margin-top: 2rem;
  width: 60rem;
  height: 100vh;
  text-align: center;
  /* box-shadow: 0.5px 0.5px 1.5px 1.5px grey; */
}
table {
  position: relative;
  top: 2rem;
  width: 50%;
  margin: auto;
  height: auto;
  border-bottom: 0.5px solid #a9a9a9;
  border-right: 0.5px solid #a9a9a9;
  box-shadow: 1px 1px 0.5px 0.5px #a9a9a9 inset;
}
#btn {
  position: relative;
  top: 2.5rem;
  left: 20px;
  text-align: left;
  width: 100%;
  padding: 20px;
}
button {
  width: 5rem;
  height: 1.5rem;
  font-size: 15px;
  cursor: pointer;
  /* border: 1px solid blue; */
  box-shadow: 0.01px 0.01px 0.4px 0.4px blue;
}
td,
th {
  text-align: left;
  width: 6rem;
  padding: 5px;
  border-bottom: 0.5px solid #a9a9a9;
  border-right: 0.5px solid #a9a9a9;
  box-shadow: 1px 1px 0.5px 0.5px #a9a9a9 inset;
}
th {
  text-align: center;
  color: red;
}
input {
  text-align: left;
  outline-width: 0;
  /* padding-left: 5px; */
}
