* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  overflow: hidden;
}
.container {
  margin-top: 2rem;
  width: 45rem;
  height: 90vh;
}

.dropdowns {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-left: 20px;
  margin-top: 20px;
}
select {
  width: 10rem;
  height: 1.5rem;
  font-size: 15px;
}
span {
  position: relative;
  top: 3rem;
  left: 3rem;
  font-size: 50px;
  color: red;
}
label:nth-child(odd) {
  color: red;
}
label:nth-child(even) {
  color: blue;
}
